.game {
  display: -webkit-flex;
  -webkit-align-items: center;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  height: 96vh;
  font-family: monospace;
}

.game__ground-container {
  width: 750px;
  padding-top: 20px;
  overflow: hidden;
}

.game__player {
  width: 35px;
  height: 35px;
  background-color: black;
  transform: translate(35px, 33px);
  transition: all 0.12s ease-out;
}

.game__ground {
  width: 12000px;
  height: auto;
  -webkit-animation: moveGround 25s ease-in 0s normal 1 none paused,
                     moveGround 16s linear 25s normal infinite none running;
}

@-webkit-keyframes moveGround {
  from { transform: translate(0, 0) }
  to { transform: translate(-11250px, 0) }
}

.ground-line,
.obstacle {
  fill:none;
  stroke:#000000;
  stroke-width:0.2;
  stroke-miterlimit:10;
}

.obstacle-red {
  fill:none;
  stroke:red;
  stroke-width:0.2;
  stroke-miterlimit:10;
}

.game__score {
  text-align: right;
  margin: 0 0 10px 0;
  font-size: 1.8rem;
}

.game__game-over {
  text-align: center;
  margin: 0;
  font-size: 2.5rem;
  margin-bottom: -15px;
}

.game__start-message {
  display: block;
  margin: 10px auto 0 auto;
  font-size: 1.6rem;
}

.hidden {
  visibility: hidden;
}
