.game {
  display: -webkit-flex;
  -webkit-align-items: center;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  height: 96vh;
  font-family: monospace;
}

.game__ground-container {
  width: 750px;
  height: 250px;
  overflow: hidden;
}

.game__player {
  width: 40px;
  height: 60px;
  background-image: url("../assets/runners.png");
  background-size: cover;
  background-position: 0;
  transform: translate(35px, 33px);
  transition: transform 0.12s cubic-bezier(0, 0.3, 0.07, 0.89);
}

.game__player--running {
  background-position: -40px;
}

.game__ground {
  width: 12000px;
  height: auto;
}

.game__ground--animated {
  -webkit-animation: moveGround 25s ease-in 0s normal 1 none paused,
                     moveGround 16s linear 25s normal infinite none paused;
}

@keyframes moveGround {
  from { transform: translate(0, 0) }
  to { transform: translate(-11250px, 0) }
}

.ground-line,
.obstacle {
  fill:none;
  stroke:#000000;
  stroke-width:0.2;
  stroke-miterlimit:10;
}

.game__score-container {
  display: flex;
  justify-content: flex-end;
}

.game__score,
.game__highest-score {
  text-align: right;
  margin: 0;
  font-size: 1.8rem;
  display: inline;
}

.game__score {
  margin-left: 15px;
  background-color: yellow;
}

.game__game-over {
  text-align: center;
  margin: 15px 5px 5px 5px;
  font-size: 2.5rem;
  margin-bottom: -25px;
}

.game__start-message {
  display: block;
  margin: 20px auto -20px auto;
  font-size: 1.6rem;
  text-align: center;
}

.hidden {
  visibility: hidden;
}
